html *{
	font-family: 'Roboto', sans-serif;
}

.main{
	display: flex;
	grid-gap: 1em;
}

.header{
	display: flex;
	grid-template-columns: 1fr 4fr;
}
	.logo{

	}
	.headblock{
		display: flex;
		flex-direction: row;
		justify-items: center;
	}
		.shapkatxt{
			background-color: #00FFFF;
		}
.info{
	
}
	.photocoll{
		
	}
	.text{
		
	}

.chips{
	
}

.why{
	
}

.it{
	
}

.professions{
	
}

.footer{
	
}
