html *{
	font-family: 'Roboto', sans-serif;
}

.main{
	display: grid;
	grid-gap: 1em;
}

.header{
	display: flex;
	border-bottom-width: 1px;
	border-color: #0000FF;
}
	.logo{
	}
	.headblock{
		display: flex;
		flex-direction: row;
		flex: 1;
		justify-content: center;
		align-items: center;
	}
		.shapkatxt{
			font-size: 30px;
			margin-right: 46px;
		}
.info{
	
}
	.photocoll{
		
	}
	.text{
		
	}

.chips{
	
}

.why{
	
}

.it{
	
}

.professions{
	
}

.footer{
	
}
